

<h1>The result is:</h1>

<em><%= @result %></em>

<p>
    <h3>Continue your search?</h3>
</p>

<p>
    <form action="/stock/result">
        <input name="symbol" placeholder="Symbol">
  
        <button>Get</button>
    </form>
</p>

    
